* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {

}

h1 {
  text-align: center;
}

.wrapper {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'header header header header'
    'mainnav mainnav mainnav mainnav'
    'sidemenu main main main';

}

.header {
  grid-area: header;
  font-size: 5em;
  background-image: linear-gradient(#b0c4b1ff, #6e916f);
  text-align: center;
  padding: 20px;
  color: black;
  border-bottom: 3px solid white;
}

.mainnav {
  grid-area: mainnav;
  border-bottom: 3px solid white;
}

.mainnav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: black;
}

.mainnav a {
  text-align: center;
  text-decoration: none;
  color: white;
 font-size: 1.5em;
  padding: 2px 10px;
}

.mainnav a:hover {
  color: #edafb8ff;
}

aside {
  grid-area: sidemenu;
  height: auto;
  text-align: center;
  background-image: linear-gradient(to right, #dedbd2ff, #847b62);
  font-size: 2em;
  font-weight: bold;
  border-right: 3px solid white;
}

aside ul {
  font-size: .5em;
  text-align: left;
}

aside li {
  padding: 3px;
  margin-bottom: 15px;
}

aside li a {
  text-decoration: none;
}

aside li a:hover {
  color: #edafb8ff;
}

aside h4 {
  padding-bottom: 5px;
  color: white;
}

.main {
  grid-area: main;
  height: auto;
  background-color: #595959;
  display: flex;
  flex-wrap: wrap;
  color: white;
  /*  font-family: 'Roboto Condensed', sans-serif;*/
}

.main>h1 {
  color: white;
  font-size: 4em;
  text-align: center;
  width: 100%;
}

.main h2 {
  font-style: italic;
  height: 110px;
}
#videoarea {
  display: flex;
  flex-wrap: wrap;
  background-color: #595959;
  height: auto;
  //  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

#videoarea div {
  width: 50%;
}
p {
  color: white;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 20px;
  //height: auto;
}
iframe {
  height: 234px;
  width: 366px;
  margin-left: 50px;
  border-radius: 5%;
  border: 5px solid white;
}
@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: 100%;
    grid-template-areas:
      'header'
      'mainnav'
      'main'
      'sidemenu';
  }

  .header {
    width: 100%;
  }
  main{
 border:3px solid white;
 border-top: none;

  }
}
  @media (max-width: 855px) {
    #videoarea div {
      width: 100%;
      justify-content: center

    }
    iframe {
      margin-left: 25%;
      margin-right: auto;
    }
    p {
      width: 366px;
      margin-left: 25%;
      margin-right: auto;
    }
}
      @media (max-width: 700px) {

      iframe {
        margin-left: 1%;
      }

      p {
        margin-left: 1%;
        width: 366px;
      }
    }

    @media (max-width: 400px) {

    iframe {
      height: 164px;
      width: 256px;
    }

    p {
width: 256px;

    }
    .header{
      font-size: 4em;
    }
  }








  /*CSS HEX
--light-pink: #edafb8ff;
--champagne-pink: #f7e1d7ff;
--timberwolf: #dedbd2ff;
--cambridge-blue: #b0c4b1ff;
--deep-space-sparkle: #4a5759ff;
*/
