* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    padding: 0px;
  }
  
  body {
    border-bottom: 2px solid black;
  }
  
  header {
    text-align: center;
    font-size: 6em;
  }
  
  #border {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }
  
  #story {
    text-align: center;
    font-size: 2em;
    font-style: italic;
  }
  
  .container {
    display: flex; /* Use flex container */
    flex-wrap: wrap;
  }
  
  section {
   
    padding: 20px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in the width */
    

  
    width:33.33333333333333%;
  }
  .second{
border-left: 2px solid black;
border-right: 2px solid black;



  }
  
  h1 {
    font-size: xx-large;
    padding-bottom: 10px;
    text-align: center;
  }
  article {
    padding-bottom: 30px;
    border-bottom: 1px solid black;
  }
  
  div span {
    padding-right: 20px;
  }
  
  div span a {
    color:dodgerblue;
    font-weight: bolder;
    font-size: 15px;
    font-style: normal;
    padding-bottom: 5px;
    text-decoration: none;
  }
  p {
  
  text-indent: 20px;
  }
  
  @media (max-width: 600px) {
    section {
     
    width:100%
  
    }
  }