* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  height: 200vh;
}

.mainnav ul {
  width: 100vw;
  background-color: black;
  display: flex;
}

.mainnav ul li {
  flex-wrap: wrap;
  list-style: none;
  font-size: 1.5em;
  background-color: black;
  padding: 0px 20px;
}

.mainnav ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.mainnav li a:hover {
  color: #edafb8ff;
}

.calculator {
  height: 100vh;
  width: 75vw;
  padding-top: 2em;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #ffb3b3;
  display: flex;
  flex-wrap: wrap;
}

.p1 {
  font-size: 1.3em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.inputs {
  border: 3px solid black;
  font-size: 1.3em;
  width: 60%;
}

.p2 {
  font-size: 1.3em;
  width: 40%;
}

#button1, #button2 {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1.3em;
  border: 3px solid black;
  font-weight: bold;
  width: 40%;
}

#resultname {
  margin-top: 20px;
  width: 100%;
}

#result {
  width: 250px;
  height: 1.8em;
  font-size: 1.5em;
  background-color: white;
  border: 3px solid black;
}

@media (max-width: 875px) {
  .calculator {}
}
