* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.mainnav ul{
  width:100vw;
  background-color: black;
  display: flex;


}

.mainnav ul li{
flex-wrap: wrap;
list-style: none;
font-size: 1.5em;
background-color: black;
padding: 0px 20px;


}
.mainnav ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
}
.mainnav li a:hover {
  color: #edafb8ff;
}
