* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  height: 100vh;
}

.wrapper {
  //height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "mainnav mainnav mainnav mainnav"
    "aside main main main";
}

li {
  margin: .3em;
}

.header {
  grid-area: header;
  font-size: 5em;
  background-image: linear-gradient(#b0c4b1ff, #6e916f);
  text-align: center;
  color: black;
  padding: .3em;
  border-bottom: 3px solid white;
}

.trump {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 90px;
  border-radius: 50%;
}

.small {
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  left: 10px;
  top: 10px;
}

.mainnav {
  grid-area: mainnav;
  background-color: black;
  border-bottom: 3px solid white;

}
.mainnav ul{

  display:flex;
  flex-wrap: wrap;
}

.mainnav ul li {
  margin: .1em .8em .1em .8em;
  text-decoration: none;
  background-color: black;
  list-style: none;

}

.mainnav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.mainnav li a:hover {
  color: #edafb8ff;
}

.aside {
  grid-area: aside;
  background-image: linear-gradient(to right, #dedbd2ff, #847b62);
  height: auto;
  border-right: 3px solid white;
}

.aside li {
  font-weight: bold;
  padding-bottom: .5em;
}

.aside li a:hover {
  color: #edafb8ff;
}

.aside a {
  text-decoration: none;
}

main {
  grid-area: main;
  background-color: #595959;

}

#videoarea {
  display: flex;
  flex-wrap: wrap;
  background-color: #595959;
  height: auto;

  margin-top: 50px;
}

#videoarea div {
  width: 50%;
}

p {
  color: white;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 20px;
  height: auto;
}

iframe {
  height: 234px;
  width: 366px;
  margin-left: 50px;
  border-radius: 5%;
  border: 5px solid white;
}

.main-title {
  color: white;
  font-size: 4em;
  text-align: center;
  width: 100%;
}

.highlight {
  color: red;
}

.flashit {
  animation: flash linear 2s infinite
}

@keyframes flash {
  0% {
    opacity: 1
  }

  50% {
    opacity: .1
  }

  100% {
    opacity: 1
  }
}

.alert {
  color: orange;
}

@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: 100%;
    grid-template-areas:
      'header'
      'mainnav'
      'main'
      'aside';
  }

  .main-title {
    width: 100%;
  }
}

@media (max-width: 854px) {
  #videoarea div {
    width: 100%;
    justify-content: center
  }

  iframe {
    margin-left: 25%;
    margin-right: auto;
  }

  p {
    width: 366px;
    margin-left: 25%;
    margin-right: auto;
  }

  @media (max-width: 700px) {}

  iframe {
    margin-left: 1%;
  }

  p {
    margin-left: 1%;
    width: 366px;
  }
}
