* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "mainnav mainnav mainnav mainnav"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main";
  grid-gap: 3px;
}

li {
  margin: .3em;
}

.header {
  grid-area: header;
  font-size: 5em;
  background-image: linear-gradient(#b0c4b1ff, #6e916f);
  text-align: center;
  color: black;
  padding: .3em;
}

.mainnav {
  grid-area: mainnav;
  background-color: black;
}

.mainnav ul {}

.mainnav ul li {
  display: inline-block;
  margin: .1em .8em .1em .8em;
  text-decoration: none;
  background-color: black;
  list-style: none;
}

.mainnav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.mainnav li a:hover {
  color: #edafb8ff;
}

.aside {
  grid-area: aside;
  background-image: linear-gradient(to right, #dedbd2ff, #847b62);
  height: 200vh;
}

.aside li {
  font-weight: bold;
}

.aside li a:hover {
  color: #edafb8ff;
}

.aside a {
  text-decoration: none;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "tag1 tag2"
    "video1 video2"
    "tag3 tag4"
    "video3 video4"
    "tag5 tag6"
    "video5 video6";
  background-color: #595959;
  height: 200vh;
  align-content: flex-start;
  padding: 1.5em;
  color: white;
  font-style: italic;
}

.videotag1 {
  grid-area: tag1;
  margin: 1em .5em 1em .5em;
}

.videotag2 {
  grid-area: tag2;
  margin: 1em .5em 1em .5em;
}

.videotag3 {
  grid-area: tag3;
  margin: 1em .5em 1em .5em;
}
.videotag4 {
  grid-area: tag4;
  margin: 1em .5em 1em .5em;
}
.videotag5 {
  grid-area: tag5;
  margin: 1em .5em 1em .5em;
}
.videotag6 {
  grid-area: tag6;
  margin: 1em .5em 1em .5em;
}

.videoclip1 {
  grid-area: video1;
  margin: 1em .5em 1em .5em;
  border: 5px solid white;
}

.videoclip2 {
  grid-area: video2;
  margin: 1em .5em 1em .5em;
  border: 5px solid white;
}

/*this is a group1 for an iframe*/
.iframe-container3 {
  grid-area: video3;
  position: relative;
  width: 96%;
  padding-bottom: 56.25%;
  height: 0;
}

.videoclip3 {
  margin: 1em .5em 1em .5em;
  border: 5px solid white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.iframe-container4 {
  grid-area: video4;
  position: relative;
  width: 96%;
  padding-bottom: 56.25%;
  height: 0;
}

.videoclip4 {
  margin: 1em .5em 1em .5em;
  border: 5px solid white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.iframe-container5 {
  grid-area: video5;
  position: relative;
  width: 96%;
  padding-bottom: 56.25%;
  height: 0;
}

.videoclip5 {
  margin: 1em .5em 1em .5em;
  border: 5px solid white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.iframe-container6 {
  grid-area: video6;
  position: relative;
  width: 96%;
  padding-bottom: 56.25%;
  height: 0;
}

.videoclip6 {
  margin: 1em .5em 1em .5em;
  border: 5px solid white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.highlight {
  color: red;
}

.flashit {
  animation: flash linear 1.5s infinite
}

@keyframes flash {
  0% {
    opacity: 1
  }

  50% {
    opacity: .1
  }

  100% {
    opacity: 1
  }
}

.alert {
  color: orange;
}

@media (max-width: 875px) {
  .wrapper {
    grid-template-columns: 100%;
    grid-template-areas:
      'header'
      'mainnav'
      'main'
      'aside';
  }

  .main {
    grid-template-columns: 100%;
    grid-template-areas:
      "tag1"
      "video1"
      "tag2"
      "video2"
      "tag3"
      "video3"
      "tag4"
      "video4"
      "tag5"
      "video5"
      "tag6"
      "video6";
    height: 500vh;
  }

  @media (max-width: 560px) {
    .main {
      height: 370vh;
    }
  }
