
body {
  width: 100vw;
  height: 100vh;
  background-image: url("https://jooinn.com/images/wooden-texture-102.jpg");

}

.board {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color:transparent;
}

.item {
  border: 5px solid transparent;
  width: 75px;
  height: 75px;
}

img {
  width: 100%;
  height: 100%;
}

.console {
  width: auto;
  height: 17%;
  color: white;
  position: relative;
}

.start_game_button {
  color:lightgreen;
  width: 100px;
  height: 24px;
  background-color: slateblue;
  border-radius: 10%;
  position: absolute;
  left: 10px;

  border: 3px solid black;
  text-align: center;
  padding-top: 4px;
}

.stop_game_button {
  color:orangered;
  width: 100px;
  height: 24px;
  background-color: slateblue;
  border-radius: 10%;
  position: absolute;
  left: 10px;
  top: 40px;
  border: 3px solid black;
  text-align: center;
  padding-top: 4px;
}

.score_board {
  font-size: 1em;
  width: 300px;
  height: 75px;
  background-color: slateblue;
  border: 3px solid black;
  position: absolute;
  left: 150px;
  text-align: center;
}

.player1 {
  font-size: 1em;
  width: 120px;
  height: 20px;
  //  background-color: pink;
  border-bottom: 3px solid black;
}

.player1_Score {
  width: 120px;
  height: 30%;
  font-size: 1em;
  // background-color: yellow;
}

.player2_Score {
  width: 120px;
  height: 30%;
  font-size: 1em;
  //  background-color: yellow;
  position: absolute;
  left: 10em;
  bottom: .6em;
}

.player2 {
  font-size: 1em;
  width: 120px;
  height: 20px;
  border-bottom: 3px solid black;
  position: absolute;
  left: 10em;
  top: 20px;
  bottom: 2.9em;
}
.nav {

  background-color: black;


}
.nav ul{

  display:flex;
  flex-wrap: wrap;
  margin:1px;
}

.nav ul li {
  margin: .1em .8em .1em .8em;
  text-decoration: none;
  background-color: black;
  list-style: none;

}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.nav li a:hover {
  color: #edafb8ff;
}
