* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;

}
.mainnav{
  width:100%;
}
.one{
  width:100%;
}
h1{
  height:300px;
  text-align: center;
  color: red;
padding-top: 270px;
}
