@font-face {
  font-family: "StrangerCreature";
  src:url(StrangerCreature-MVpBr.ttf);
}



* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body{
  height:100vh;
  background-color: #595959;
  position:relative;
}

header {
  font-family: "StrangerCreature";
  font-size: 6em;
  text-align: center;
  background-image: linear-gradient(#b0c4b1ff, #6e916f);
  padding-bottom:  30px;

}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  border-left: 3px solid white;
  border-top: 3px solid white;
  border-right: 3px solid white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

a:hover {
  color: #edafb8ff;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  //background-color: #595959;
  border: 3px solid white;
}

iframe {
  border: 3px solid dodgerblue;
  width: 300px;
  aspect-ratio: 16/9;
  margin-top: 30px;
  margin-bottom: 30px;
}
img {
width:100px;
position:absolute;
left:0px;
top:0px;

}
