@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

@font-face {
  font-family: "Stardate_81316";
  src: url(Stardate81316-aolE.ttf);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #fbf2ea;
  font-family: "NewsCycle";
}

/*body::-webkit-scrollbar {
  display: none;
}*/
.videopartext {
  font-style: italic;
  font-size: 1em;
  font-weight: bold;
  width: 50%;
  text-align: center;
}

.header {
  font-family: "Stardate_81316";
  font-size: 7em;
  font-weight: bold;
  text-align: center;
  border-bottom: 3px solid black;
}

.date {
  text-align: center;
  border-bottom: 3px solid black;
}

.mainnav {
  grid-area: mainnav;
  border-bottom: 3px solid white;
}

.mainnav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: black;
  justify-content: space-around;
}


 .mainnav a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 2px 10px;
  background-color: #737373;
  border-radius: 20px;

}

.mainnav a:hover {
  color: dodgerblue;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "newsarticles Ufophenomena Uforesources";
  height: 65vh;
  position: relative;
}

#kirk {
  width: 125px;
  height: 100px;
  position: absolute;
  left: 250px;
  top: 7px;
  border-radius: 100%;
  filter: drop-shadow(.05em .05em .1em);
  border: 2px solid black;
}

#spock {
  width: 75px;
  position: absolute;
  left: 200px;
  top: 2px;
  border-radius: 100%;
  border: 2px solid black;
  z-index: -1;
  filter: drop-shadow(.05em .05em .1em);
}

#macoy {
  width: 100px;
  position: absolute;
  left: 350px;
  top: 2px;
  border-radius: 100%;
  border: 2px solid black;
  z-index: -1;
  filter: drop-shadow(.05em .05em .1em);
}

#scotty {
  width: 75px;
  position: absolute;
  left: 350px;
  top: 50px;
  border-radius: 100%;
  border: 2px solid black;
  z-index: -1;
  filter: drop-shadow(.05em .05em .1em);
}

.newsarticles {
  grid-area: newsarticles;
  height: auto;
  border-right: 3px solid #D3D3D3;
}

.newsarticles header {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.Ufophenomena {
  grid-area: Ufophenomena;
  height: auto;
  border-right: 3px solid #D3D3D3;
  overflow-y: scroll;
}

.Ufophenomena header {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.videocomponents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.videocomponents iframe {
  width: 45%;
  aspect-ratio: 16/9;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 4px solid black;
  color: black;
}

.videocomponents p {
  width: 45%;
  //font-size: .5em;
}

.boxplaceholder {
  width: 45%;
  aspect-ratio: 16/9;
}

.Uforesources {
  grid-area: Uforesources;
  height: 100%
}


li a:hover {
  color: #edafb8ff;
}

.Uforesources ul li a {
  text-decoration: none;

}

.Uforesources ul {
  list-style: none;
  font-weight: bold;
  font-style: italic;
  padding:10px;


 

}

.Uforesources header {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1200px) {
  #spock {
    left: 0;
  }

  #macoy {
    left: 150px;
  }

  #kirk {
    left: 50px;
  }

  #scotty {
    left: 150px;
  }
}

@media (max-width: 850px) {
  .wrapper {
    grid-template-columns: 100%;
    grid-template-areas:
      "Ufophenomena"
      "newsarticles"
      "Uforesources";
    height: auto;
  }

  .header {
    height: 200px;
    padding-top: 100px;
  }

  .newsarticles {
    margin-bottom: 75px;
  }

  .Ufophenomena {
    //  border-bottom: 3px solid black;
    overflow-y: auto;
  }

  .newsarticles {
    //margin-bottom: 75px;
    margin-top: 75px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
  }
}

@media (max-width: 500px) {
  .videopartext {
    font-size: .75em;
    text-align: left;
  }
}
@media (max-width: 350px) {
  .header {
    height: 310px;
    padding-top: 100px;
  }


}
